<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photogallery</title>

    <link rel="stylesheet" href="/public/styles/photogallery.css">
    <link rel="stylesheet" href="styles/header.css"/>
</head>
<body>
    <header>
        <nav>
          <div class="name"><h1>Vincent Van Gogh</h1></div>
          <ul class="menu">
              <a href="/"><li>Home</li></a>
              <a href="/about"><li>about</li></a>
              <a class="active" href="/works"><li>works</li></a>
              <a href="/photogallery"><li>photogallery</li></a>
          </ul>
        </nav>
      </header>
</body>
</html>