<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>

    <link rel="stylesheet" href="/public/styles/works.css" />
    <link rel="stylesheet" href="styles/header.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="name"><h1>Vincent Van Gogh</h1></div>
        <ul class="menu">
          <a href="/"><li>Home</li></a>
          <a href="/about"><li>about</li></a>
          <a class="active" href="/works"><li>works</li></a>
          <a href="/photogallery"><li>photogallery</li></a>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Works by Vincent Van Gogh</h1>
      <table>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Current location</th>
          <th>Created in</th>
          <th>Medium, Dimensions</th>
        </tr>
        <td>Still Life with Cabbage and Clogs</td>
        <td>November-December 1881</td>
        <td>Van Gogh Museum, Amsterdam</td>
        <td>The Hague</td>
        <td>Oil on paper on panel
            34 x 55 cm</td>
        <tr>
            <td>Beach at Scheveningen in Calm Weather</td>
            <td>August 1882</td>
            <td>Minnesota Marine Art Museum, Winona</td>
            <td>The Hague</td>
            <td>35.5 x 49.5 cm</td>
        </tr>
        <tr>
            <td>Dunes</td>
            <td>August 1882</td>
            <td>Private collection</td>
            <td>The Hague</td>
            <td>Oil on panel
                36 x 58.5 cm</td>
        </tr>
        <tr>
            <td>Women Mending Nets in the Dunes</td>
            <td>August 1882</td>
            <td>Private collection</td>
            <td>The Hague</td>
            <td>Oil on paper on panel
                42 x 62.5 cm</td>
        </tr>
        <tr>
            <td>A Girl in the Street, Two Coaches in the Background</td>
            <td>August 1882</td>
            <td>Villa Flora, Winterthur</td>
            <td>The Hague</td>
            <td>Oil on canvas on panel
                42 x 53 cm</td>
        </tr>
        <tr>
            <td>Girl in the Woods</td>
            <td>August 1882</td>
            <td>Private collection</td>
            <td>The Hague</td>
            <td>Oil on panel
                35 x 47 cm</td>
        </tr>
        <tr>
            <td>Two Women in the Woods</td>
            <td>August 1882</td>
            <td>Private collection</td>
            <td>The Hague</td>
            <td>Oil on paper on panel
                35 x 24.5 cm</td>
        </tr>
        <tr>
            <td>Girl in White in the Woods</td>
            <td>August 1882</td>
            <td>Kröller-Müller Museum, Otterlo</td>
            <td>The Hague</td>
            <td>39 x 59 cm</td>
        </tr>
        <tr>
            <td>Edge of a Wood</td>
            <td>August 1882</td>
            <td>Kröller-Müller Museum, Otterlo</td>
            <td>The Hague</td>
            <td>Oil on canvas on panel
                34.5 x 49 cm</td>
        </tr>
        <tr>
            <td>Man Stooping with Stick or Spade</td>
            <td>August 1882</td>
            <td>Kubosō Memorial Museum of Arts, Izumi</td>
            <td>The Hague</td>
            <td>Oil on paper on panel
                31 x 29.5 cm</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      </table>
    </main>
  </body>
</html>
